body{
	background-color: #071f1c;
}

/*reset all browser margins and padding*/
.no-margin{
	margin: 0;
}

.no-padding{
	padding: 0;
}

/*Navigation styles*/
.navbar-toggle{
	border: 1px solid white;
}
.icon-bar{
	background: white;
}

.navstyle-links a:hover{
	color: darkblue;
	transition: all .3s ease-in-out;
	background: rgba(15, 110, 142);
	cursor: pointer;
}

/*Text logo style*/
#logo{
	font-weight: bolder;
	font-size: 3rem;
	text-shadow: 0px 1px 2px red;
	color: white;
}

.wrapper {
	margin-top: 80px;
}

/*Canvas style*/
.drawingBoard{
	background: #2a5461;
	margin-top: 10px;
	border-radius: 4px;
	padding: 10px;
}
#canvas{
	background: #fff;
	cursor: crosshair;
	height: 400px;
	width: 100%;
}
/*Color palette styles*/
.colorPalette input{
	width: 10%;
	height: 30px;
    margin-top: 20px;
    border-radius: 3px;
}
.colorPalette input:hover{opacity: 0.5; cursor:pointer;}

.otherTools{
	background: rgba(71, 86, 83, 0.7);
}

/*Clear save and share button*/
.clearSaveShareButtons{
	padding: 10px;
}

.toolBox{
	padding: 20px;
	height: 400px;
}

.toolTextStyle{
	font-weight: bold;
	color: white;
	padding-top: 10px;
}

/*Footer style*/
.footerstyle{
  font-weight: bolder;
  font-size: 2rem;
  color: #fff;
}
